{:key-store {:table "key_store"
             :endpoint "http://dynamodb.us-east-1.amazonaws.com"}
 :http {:port 10000
        :receive-timeout 60000}
 :logging {:property-file-name "log4j.properties"
           :properties {:log-level "INFO"}}
 :redis {:spec {:host "messages-prod.xoe7je.0001.use1.cache.amazonaws.com"
                :port 6379
                :db 0}
         :delete-after-seconds 60}
 :max-message-age-millis 10000}
